body {
    font-family: 'aktiv-grotesk';
    font-size: 16px;
    color: hsl(240, 70%, 40%);
    background-color: hsl(23, 60%, 52%);
}

hr {
    color: hsl(240, 70%, 40%);
}

header {
    position: relative;
    top: 5.625rem;
    width: 80%;
    max-width: 62.5rem;
    margin: 0 auto;
}

header h2 {
    text-align: end;
}

@media only screen and (max-width: 480px) {
    header {
        position: relative;
        top: 3.75rem;
        width: 6.25rem;
        text-align: center;
    }
    header h2 {
        text-align: center;
    }
    .bannerText {
        position: relative;
        top: 2.5rem;
        margin: 0 auto;
        width: fit-content;
        font-weight: bolder;
        font-size: 6rem;
    }
    
    .banner img {
        margin: 0 auto;
        width: auto;
        height: 28.125rem;
    }
}

main {
    position: relative;
    top: 5.625rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

.banner {
    width: 80%;
    margin: 0 auto;
}

.bannerText {
    position: absolute;
    top: 2.5rem;
    max-width: 80%;
    font-weight: bolder;
    font-size: 6rem;
}

.banner img {
    float: right;
    width: auto;
    height: 28.125rem;
}

@media only screen and (max-width: 480px) {
    .bannerText {
        position: absolute;
        top: 0.625rem;
        margin: 0 auto;
        width: fit-content;
        font-weight: bolder;
        font-size: 4rem;
    }
    
    .banner img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
}
